- name: ACCEPT INPUT HTTP(S) IPv4
  ansible.builtin.iptables:
    table: filter
    chain: INPUT
    chain_management: true
    state: present
    action: append
    protocol: tcp
    destination_ports: '80,443'
    source: 0.0.0.0/0
    ctstate: NEW
    jump: ACCEPT
    comment: 'HTTP(S)'
    ip_version: ipv4
  notify: save_rules
