-----BEGIN PRIVATE KEY-----
MIIEvAIBADANBgkqhkiG9w0BAQEFAASCBKYwggSiAgEAAoIBAQDIEMtPNyHS7nn2
1OKQ6j3qgQMuOm3OcHJSom2fg2vR5uL56QBpf29+p7bPfmm7cq7ABHUwGcyfp4zE
Ef3P8+gyqz+mGOoZVPFTcM5QjJTr9nOj+nUBgH4Z0sT+0OvrCkPG+RM6sYjCICof
FMIIQv4JbYMrUiHAlE6HwjJ4u2BByklDHb1Ktc4K6Sb8xRzCzmc58KBcHJ92/TQY
Ta2eE36wvSKnVxprk30ooO1UpT704dmIbYFQ/2UHMU7NQWCiAU26NgjKgoTw4ex6
zYmAiWEL2HJOtbkSMBFUsTmjKt1BBHK4dj+7oL9xyIUbktNsN04uQgCaWMIMcoci
KqivmuIbAgMBAAECggEARlvhpFI3Sv8jVXM42s4GSFpmy/MwetGA4x7MfrSxTnhs
iocu5eszQs+oswA6HvoOCumGbQwlsmAyWSIaqO+WUXt4Pum0KoR8+mNJq3pFRVa/
BIQocgbGUj6VmSfQUDCj9W3THWkiN2MobRXXxyAIRziEUM/pntiJZaUeKud6yqfC
H3WbPdZ7iaSiPsS82hDcbeNWbD1DJowk6taDPkFvXNU7og+HVHwvIy+MVZWY4Zqz
d0hYWVqaTT+7Ag6ZUajF2fuqO4GcjYaeC2hYvh6xzV//qL+KVBLI9MSqrzL3IY6f
pU7O2+lx/EhhL3OsEWpFflX0FtW2KIwfJg7CI5NxgQKBgQDrPL0E7pJNrL+hPUwu
fkcaPCMpUkd4D8ISD+tRxhneHuTKPI17POua/HiPV1CCOvCf6MAF8m7m8Elhjvkf
cPag5lQlp9BhH95PsqKLNUA164cTqtpy2Man8DoXNN94lthzu6EFnmZbHGCoaZYa
cYLZNhgmdSd3Utz3oxLeHOk8WQKBgQDZuVdFbZ/jLTMTcE+pD4Fz7NVTUnpCSPAv
5+m1+0nkefrn7kMqBdS3cFOOtzNX+F6kUfkxa67ApVKkct5MYoMsCrDhMJqXhOqa
ibf3BlaWPmu0YTjOwkkC8a/rvX49EprgpLPypGC2jXLomqcGOrN92TPdvDswQ7uv
Gw/hePOzkwKBgDHlXz6FkBjTtI3x34/ZDyHccaTZI/mudf64y7Q7rc70hJj1ARmL
0Xm9ZaEZ5yTIdbOlfd2FD8sCWr5LwkHOBzIXyO93yfZf+Rq0jE+0ytrlC3C7g7xq
iLCkft3fRCti66SYvs3fTFy1BzeRtdoEC7ohBDxcCzP/KomIWH8uaLZ5AoGAHjEV
aQtKoLYj3w4z/b2oteqhqmxFh+uVYw9F2XZ/SK+hm4fuyGUGmml5LNE6zXgjp6W2
aKQGF7DVRPio2u7OQc05ugCDb39/CO8QE7FNUIhXZywUNJe8iCv7uTUNzGpID97H
FV62CpqS1K6der+pJEp6ZsUzb/30iNO34AxlvwECgYBdjfYR81cClRdA+fBUkRO9
ontjCufmzVjsuOlmOmvQv0DHuwqiNUNKNjm/A6Na/m8EgLgaEdPLDCLakoW8JCgx
YNfcQzPDF+qxj7C/f7rAnSc8DEidzF6O3U6f3io1kIZc1YgGT/GeZ3MKx97ueckn
W8ZAEw7rVJW/cGfdQtVUeg==
-----END PRIVATE KEY-----
-----BEGIN CERTIFICATE-----
MIIC+DCCAeCgAwIBAgIUHu31rc8IZmzJOrFl0ST2VDCklgYwDQYJKoZIhvcNAQEL
BQAwFDESMBAGA1UEAwwJbG9jYWxob3N0MB4XDTI0MDkxMTA3MjcyOVoXDTM0MDkw
OTA3MjcyOVowFDESMBAGA1UEAwwJbG9jYWxob3N0MIIBIjANBgkqhkiG9w0BAQEF
AAOCAQ8AMIIBCgKCAQEAyBDLTzch0u559tTikOo96oEDLjptznByUqJtn4Nr0ebi
+ekAaX9vfqe2z35pu3KuwAR1MBnMn6eMxBH9z/PoMqs/phjqGVTxU3DOUIyU6/Zz
o/p1AYB+GdLE/tDr6wpDxvkTOrGIwiAqHxTCCEL+CW2DK1IhwJROh8IyeLtgQcpJ
Qx29SrXOCukm/MUcws5nOfCgXByfdv00GE2tnhN+sL0ip1caa5N9KKDtVKU+9OHZ
iG2BUP9lBzFOzUFgogFNujYIyoKE8OHses2JgIlhC9hyTrW5EjARVLE5oyrdQQRy
uHY/u6C/cciFG5LTbDdOLkIAmljCDHKHIiqor5riGwIDAQABo0IwQDAJBgNVHRME
AjAAMBQGA1UdEQQNMAuCCWxvY2FsaG9zdDAdBgNVHQ4EFgQU7OtCAFMKd+IsPEKk
p5GXief/BYMwDQYJKoZIhvcNAQELBQADggEBAAHByECmfk+x2ZkjQOk+OIRyFHjA
NsSTsW9bO57BkF7iK6ZmROpAAQXuMsz346XYOtyyM3AK30ANY3sWiOf2Oxau84CF
xd9RE53CNYeSvRcj6t4fEdnSJOpwOenpoDIvNC08VWNiIY7V26Aftl4EcekS5OTE
ds0aDUYg4Q1qRqn1HpSALdA3iHgxEbtzEIgjMx3m/u9uf54dPtGjYo7B2+Rvzyot
7au0FOXJueLghB5jahI09imIOj0zDVNqVcdAIZ24xignzrHO4z3vVwPTgSRZAovw
6Q/a+3lwB7MpDnoFrzHrpaBdSgFOkRj01gM/ooDOm8KTp3SoeNm1rptv0iI=
-----END CERTIFICATE-----
